<?php $this->includeHeader(); ?>
    <div class="container-fluid">
        <div class="row-fluid">
            <fieldset>
                <legend>Practice > SQL injection > Bypass Athentication (Level: <?php echo $level; ?>)</legend>
                <?php if (!isset($_POST) || empty($_POST)): ?>
                <form method="post">
                    <input type="text" name="username" class="input-xlarge" placeholder="username" rows="8"><br />
                    <input type="password" name="password" class="input-xlarge" placeholder="password" rows="8"><br />
                    <input type="submit" class="btn btn-primary" value="Login">
                </form>
                <?php else: ?>
                    <p><?php echo $message; ?></p>
                    <p><a href="/practice/sqli/bypass/<?php echo $level; ?>">Go back</a></p>
                <?php endif; ?>
            </fieldset>
        </div>
    </div>
<?php $this->includeFooter(); ?>