<?php $this->includeHeader(); ?>
    <div class="container-fluid">
        <div class="row-fluid">
            <fieldset>
                <legend>Practice > SQL injection > Extract Data (Level: <?php echo $level; ?>)</legend>
                <?php if (!isset($_POST) || empty($_POST)): ?>
                    <form method="post">
                        <input type="text" name="search" class="input-xlarge" placeholder="username" rows="8"><br />
                        <input type="submit" class="btn btn-primary" value="Find user">
                    </form>
                <?php else: ?>
                    <?php
                        if (isset($users)) {
                            foreach ($users as $user) {
                                extract($user);
                                echo <<<STRING
<strong>ID:</strong> $id<br />
<strong>Username:</strong> $username<br />
<strong>Name:</strong> $name<br />
<strong>Email:</strong> $email<br /><br />
STRING;

                            }
                        } else {
                            echo $message;
                        }
                    ?>
                    <p><a href="/practice/sqli/extract/<?php echo $level; ?>">Go back</a></p>
                <?php endif; ?>
            </fieldset>
        </div>
    </div>
<?php $this->includeFooter(); ?>