<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:: Hacker Toolkit v0.0.1 ::</title>
    <!-- Bootstrap -->
    <link href="/web/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">HackerToolkit</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Toolkit <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/tools/hashcracker/">Hash cracker</a></li>
                            <li><a href="/tools/vulnscan/">Vulnerability scanner</a></li>
                            <li><a href="/tools/dorkscanner/">Dork scanner</a></li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Practice <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu"><a href="#">Level 1: Beginner <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a href="#">SQL injection<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/practice/sqli/bypass/1">Bypass authentication</a></li>
                                            <li><a href="/practice/sqli/extract/1">Extract data</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/practice/cmdi/1">Command injection</a></li>
                                    <li><a href="/practice/xss/1">Cross-Site Scripting <b class="caret"></b></a></li>
                                    <li><a href="/practice/upload/1">File upload</a></li>
                                </ul>
                            </li>
                            <!--<li class="dropdown-submenu"><a href="#">Level 2: Intermidiate <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a href="#">SQL injection<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/practice/sqli/bypass/2">Bypass authentication</a></li>
                                            <li><a href="/practice/sqli/extract/2">Extract data</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/practice/xss/2">Cross-Site Scripting <b class="caret"></b></a></li>
                                    <li><a href="/practice/upload/2">File upload</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu"><a href="#">Level 3: Advanced <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a href="#">SQL injection<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/practice/sqli/bypass/3">Bypass authentication</a></li>
                                            <li><a href="/practice/sqli/extract/3">Extract data</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/practice/xss/3">Cross-Site Scripting <b class="caret"></b></a></li>
                                    <li><a href="/practice/upload/3">File upload</a></li>
                                </ul>
                            </li>-->
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Educational <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Index</a></li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li><a href="#">About</a></li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connect <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Report bugs</a></li>
                            <li><a href="#">Get help</a></li>
                            <li><a href="#">Check for updates</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>
                </ul>
                <!--<form class="navbar-search pull-right" action="">
                    <input type="text" class="search-query span2" placeholder="Search">
                </form>-->
            </div>
        </div>
    </div>
</div>