<?php $this->includeHeader(); ?>
    <div class="container-fluid">
        <div class="row-fluid">
            <fieldset>
                <legend>Vulnerability Scanner</legend>
                <form method="post" class="form-horizontal">
                    <input type="text" name="target" placeholder="http://target" class="input-xxlarge" class="pull-left" value="<?php echo (isset($_POST['target'])) ? $_POST['target'] : ''; ?>">
                    <input type="submit" class="btn btn-primary" value="Scan"><br />
                </form>
                <hr>
                <?php
                    if (!empty($vulnerabilities)) {
                        $message = 'Parameter \'%s\' might be vulnerable to %s:';
                        $messageCgi = 'The target might be vulnerable to PHP-CGI exploit:';
                        foreach ($vulnerabilities as $vulnerability => $info) {
                            if (!empty($info)) {
                                foreach ($info as $parameter => $details) {
                                    $msg = ($vulnerability == 'cgi') ? $messageCgi : $message;
                                    echo '<legend>' . sprintf($msg, $parameter, $vulnNames[$vulnerability]) . "</legend>\n";
                                    echo "<strong>URL:</strong> {$details['url']}<br />\n<strong>Payloads:</strong><ul>";
                                    foreach ($details['payloads'] as $payload) {
                                        echo "<li>{$payload}</li>\n";
                                    }
                                    echo "</ul>\n";
                                }
                            }
                        }
                    }
                ?>
            </fieldset>
        </div>
    </div>
<?php $this->includeFooter(); ?>