<?php $this->includeHeader(); ?>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#crack" data-toggle="tab">Crack</a></li>
                    <li><a href="#add" data-toggle="tab">Add new</a></li>
                    <li><a href="#stats" data-toggle="tab">Statistics</a></li>
                </ul>
                <div class="tab-content">
                    <div id="crack" class="tab-pane active">
                        <form method="post">
                            <textarea name="hash" class="input-xxlarge" placeholder="enter one or more hashes. separate by new line" rows="8"><?php echo (isset($_POST['hash'])) ? $_POST['hash'] : ''; ?></textarea><br />
                            <input type="submit" class="btn btn-primary" value="Crack" name="action">
                            <hr>
                            <?php
                                if (empty($matches)) {
                                    if (!empty($_POST)) {
                                        echo 'No match found';
                                    }
                                } else {
                                    echo '<p>Found <strong>' . $matchCount . '</strong> matches in the database.</p>'; ?>
                            <table border="0" cellpadding="4" cellspacing="0" width="100%">
                                <tr bgcolor="#ccc">
                                    <td><strong>#</strong></td>
                                    <td><strong>Plaintext</strong></td>
                                    <td><strong>Hash</strong></td>
                                    <td><strong>Algorithm</strong></td>
                                </tr>
                                <?php
                                    foreach ($matches as $key => $match):
                                         if (empty($match['plaintext'])) {
                                             $color = 'ff0000';
                                         } else {
                                             $color = ($key % 2) ? 'ccc' : 'fff';
                                         }
                                ?>
                                <tr bgcolor="#<?php echo $color; ?>">
                                    <td width="20"><?php echo ($key+1); ?></td>
                                    <td width="200"><?php echo $match['plaintext']; ?></td>
                                    <td width="400"><?php echo $match['hash']; ?></td>
                                    <td><?php echo $match['algorithm']; ?></td>
                                </tr>
                                <?php endforeach; ?>
                            </table>
                            <?php } ?>
                        </form>
                    </div>
                    <div id="add" class="tab-pane">
                        <table border="0" cellpadding="0" width="100%">
                            <tr>
                                <td width="600" valign="top">
                                    <p>Max number of words: 20,000</p>
                                    <form method="post" action="#add">
                                        <textarea name="words" class="input-xxlarge" placeholder="enter one or more strings. separate by new line" rows="8"></textarea><br />
                                        <input type="submit" class="btn btn-primary" value="Add" name="action">
                                    </form>
                                </td>
                                <td valign="top">
                                    <h4>Adding from www.md5decrypter.co.uk</h4>
                                    <strong>Links</strong>
                                    <ul>
                                        <li><a href="http://www.md5decrypter.co.uk" target="_blank">MD5 Decrypter</a></li>
                                        <li><a href="http://www.regex101.com" target="_blank">Regex 101</a></li>
                                    </ul>
                                    <hr>
                                    <ol>
                                        <li>Copy all content from the <em>last 30</em> list provided on the frontpage of md5decrypter.co.uk. Then paste it in to the "Your testing string" textarea in regex101.com</li>
                                        <li>Copy the following pattern into the regex pattern box
                                            <pre>\d+\t([\w\d]+)\t.*</pre></li>
                                        <li>Set the modifier to <strong>g</strong> and check the <em>Perform a substitution</em> checkbox and enter <em>\1</em> into the textbox that appears</li>
                                        <li>Optional step: Decrypt here first and strip out anyone that already exists</li>
                                        <li>Now decrypt all remaining hashes with md5decrypter.co.uk. Remember it has a limit of 16 hashes per request</li>
                                        <li>Copy the result into regex101.com and replace the previous pattern with this
                                            <pre>[\w\d]+\s[\w\d:]+\s(.*)</pre></li>
                                        <li>Copy the plain text words into this form and add them.</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="stats" class="tab-pane">
                        <strong>Total unique hashes:</strong> <?php echo $stats['totalUniqueHashes']; ?><br />
                        <strong>Total algorithm groups:</strong> <?php echo $stats['totalAlgorithmGroups']; ?><br />
                        <strong>Algorithm groups:</strong><br />
                        <ul>
                            <?php
                                foreach ($stats['algorithmGroups'] as $algorithm) {
                                    echo "{$algorithm['name']} ({$algorithm['hash_count']})<br />\n";
                                }
                            ?>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php $this->includeFooter(); ?>