<?php $this->includeHeader(); ?>
    <div class="container-fluid">
        <div class="row-fluid">
            <fieldset>
                <legend>Practice > Command injection (Level: <?php echo $level; ?>)</legend>
                <form method="post">
                    <input type="text" name="target" class="input-xlarge" placeholder="ip or domain" rows="8"><br />
                    <input type="submit" class="btn btn-primary" value="Ping">
                </form>
                <hr>
                <?php
                    if (isset($output)) {
                        foreach ($output as $line) {
                            echo "$line<br />\n";
                        }
                    }
                ?>
            </fieldset>
        </div>
    </div>
<?php $this->includeFooter(); ?>